.ipynb_checkpoints/
__pycache__/
.idea
venv
paper/OpticalFlow.aux
paper/OpticalFlow.bbl
paper/OpticalFlow.bcf
paper/OpticalFlow.blg
paper/OpticalFlow.fls
paper/OpticalFlow.fdb_latexmk
paper/OpticalFlow.lot
paper/OpticalFlow.run copy.xml
paper/OpticalFlow.lof
paper/OpticalFlow.log
paper/OpticalFlow.pdf
paper/OpticalFlow.run.xml
paper/OpticalFlow.synctex.gz
/train-data.csv
save4.p
model4.h5
model4.yaml
model.h5
model.yaml
save.p
model.png
paper/OpticalFlow.tex.bbl
paper/OpticalFlow.tex.blg
